<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/login" METHOD="post">

    用户名： <input type="text" name="user">
    密码： <input type="password" name="password">

    <p> 爱好:</p>

    money:<input type="checkbox" name="hobby" value="money">
    power:<input type="checkbox" name="hobby" value="power">
    girl:<input type="checkbox" name="hobby" value="girl">

    <input type="submit" value="提交">
</form>

<a>num: {{num}}</a>
<a>expression num+100: {{num+100}}</a>
<a>name: {{list[2]}}</a>

</body>
</html>